@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:ital,wght@1,100&display=swap');

html {
  min-height: 100vh;  
  font-family: Lunacy;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.75fr 0.05fr;
  gap: 0px 0px;
  grid-template-areas:
    'navbar'
    'main'
    'credits';
  width: 80vw;
  height: 95vh;
  margin: 0 auto;
  align-items: center;
  /* justify-items: center; */
}

.navbar {
  margin: 1.25em 0 0.25em 0;
  /* margin-top: 2em; */
  grid-area: navbar;
}
.main {
  grid-area: main;
  
}
.credits {
  grid-area: credits;
}

.lifewater {
  font-family: "Moon Dance", cursive;
  letter-spacing: 1.175em;
  color: #73defe;
  font-size: 32px;
  text-align: center;
}

/* flexbox */           
.flex { display: flex; }
.column { flex-direction: column; }
.row { flex-direction: row; }
.justCenterAlignCenter { justify-content: center; align-items: center; }
/* flexbox end */

