 img {
    height: 50px;
    width: 50px;
    margin: 0 0.25em;
    border: 1px dashed #72d3fe;
    border-radius: 50%;
  }

.login-container {  
    display: grid;
    justify-content: center;
    align-items: center;

    min-height: 50vh;
    min-width: 50vw;
    background-color: #dedede70;
    border: 1px dashed #72d3fe;
    /* border: 1px dashed red; */
}

.google-container {
  height: 50px;
  width: 50px;
  /* background-image: url('/water_img/bluegoogle.png'); */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




.google-container > :first-child {
    /* color: blue; */
    border: 5px solid saddlebrown;
    opacity: 0.0001;
}
