* {
    text-align: center;
}

.MeIcon-Container {
    display: grid;
    justify-content: space-between; /* Add this line */
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: #dedede70;
    /* border: 1px dashed #72d3fe; */
    min-height: 50vh;
    min-width: 50vw;
    padding: 0.5em 0.5em;
    grid-gap: 0.5em;
    /* width: 100%; */
    /* grid-gap: 10em; */
  }

  /* .MeIcon-Container :nth-child(-n+2):hover { border: 1px dashed #73defe; } */
  
  .Cont {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    /* border: 1px dashed #73defe; */
    min-height: 50vh;
  }
  
  .Left-Cont {
    display: grid;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;  
  }

  .Left-Cont:hover { border: 1px dashed #73defe; }
  
  /* .Right-Cont {
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
  } */

  .Right-Cont {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .Right-Cont:hover { border: 1px dashed #73defe; }


img { height: 50px; width: 50px; border: none; }

.Move-Boat { animation-name: DriveBoat; animation-duration: 6s; animation-timing-function: ease-in-out; animation-iteration-count: infinite; }
.Move-BoatR { animation-name: DriveBoatR; animation-duration: 4s; animation-timing-function: ease-in-out; animation-iteration-count: infinite; }

@keyframes DriveBoat {
  0% {
    left: 0;
  }
  25% {
    margin-left: 50px;
    /* border: 5px solid hotpink;   */
  }
  50% {
    margin-left: -100px;
    /* border: 5px solid hotpink;   */
  }
  75% {
    margin-left: 100px;
    /* border: 5px solid hotpink;   */
  }
  100% {
    margin-left: -50px;
    /* border: 5px solid orange; */
  }
}  

@keyframes DriveBoatR {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 7em);
    margin-left: -50px;
  }
  100% {
    left: 0;
    margin-left: 0px;
  }
}
